h1 {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;
    padding: 24px 0;
}


.header-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 375px;
    height: 78px;
    background-color: #0F1721;  
    align-items: center;
}

.header-logo {
   display: inline-block;
    width: 180px;
    vertical-align: middle;
    padding: 14px 0 14px 16px;
  
  
}
.menu {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px; 
    fill: #27d1c5;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    background-color: #0F1721;  
    align-items: center;
    padding: 14px 16px 14px 0px;

}


.primary-button {
    width: 100%; 
    padding: 16px 0;
    margin-bottom: 24px;
    margin-top: 24px;
    background-color: #27d1c5;
    line-height: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #1a1a1a;
    text-align: center;
    font-size: 16px;
    align-items: center;
    align-content: center;
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
}

.primary-button:hover {
    transform: scale(.95);
    transition: ease-in-out .1s;
}


.disabled-button {
    width: 100%;
    padding: 16px 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: #4e4e4e;
    line-height: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #7b7b7b;
    font-size: 16px;
    align-content: center;
    border-style: none;
    border-radius: 3px;
    cursor: help;
}

.mana-type {
    display: inline-block;
    
}

.mana-symbol {
    height: 24px;
    width: 24px;
    border-style: none;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.mana-label {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
}

.counter-button-container .plus-button,
.plus-button:active {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 40px; 
    stroke: #27d1c5;
}

.counter-button-container:disabled .plus-button,
.plus-button:disabled{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 40px; 
    stroke: #4e4e4e;
    cursor: not-allowed;
}

.counter-button-container .minus-button,
.minus-button:active {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 40px; 
    stroke: #27d1c5;
}
.counter-button-container:disabled .minus-button,
.minus-button:disabled:hover{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 40px; 
    stroke: #4e4e4e;
    background-color: none;
    cursor: not-allowed;
}



.counter-button-container {
    margin-right: 16px;
   margin-left: 16px; 
}


.value--white {
    text-align: center;
    position: relative;
    background-color: transparent;
    padding: 0px 0px;
    line-height: 20px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    width: 24px;
    color: #f9fbd2;

}

.value--blue {
    text-align: center;
    position: relative;
    background-color: transparent;
    padding: 0px 0px;
    line-height: 20px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    width: 24px;
    color: #B1C5E8;
}

.value--black {
    text-align: center;
    position: relative;
    background-color: transparent;
    padding: 0px 0px;
    line-height: 20px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    width: 24px;
    color: #A9A4A3;

}

.value--red {
    text-align: center;
    position: relative;
    background-color: transparent;
    padding: 0px 0px;
    line-height: 20px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    width: 24px;
    color: #E9A483;
}

.value--green {
    text-align: center;
    position: relative;
    background-color: transparent;
    padding: 0px 0px;
    line-height: 20px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    width: 24px;
    color: #C2DDCC;
}

.counter {
    display: inline-block;
    margin-right: -16px;

}

.counter-button-container {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    border: transparent;
}

.counter-button-container:hover {
    background-color: rgba(200, 200, 200, .1);
    transition: ease-in-out .3s;
}



.mana-list-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 10px;
   
}







