* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.4;
background-color: black;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
    /* text-align: center; */
    width: 375px;
    background-color: #0C1219;
    margin: 0 auto;
    padding-left: 36px;
    padding-right: 36px;
}
